name: Deploy Docker images

on:
  push:
    branches: ["main"]
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  REGISTRY_IMAGE: educelab/ci-docker

jobs:
  build_base_image:
    name: Build base image by platform
    strategy:
      fail-fast: false
      matrix:
        major_version: [12, 13]
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
        exclude:
          - major_version: ${{ startsWith(github.event.release.tag_name, 'v13') && 12 || '' }}
          - major_version: ${{ startsWith(github.event.release.tag_name, 'v12') && 13 || '' }}
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Clean up disk space
        run: |
          # Space usage before cleanup
          df -h /

          # Remove unused tool caches (comment any required ones with #)
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

          # Verify gains
          df -h /

      - name: Prepare env
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        id: build
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile.base
          build-args: |
            BASE_IMAGE_VERSION=${{ matrix.major_version }}-slim
            CI_DOCKER_VERSION=${{ steps.meta.outputs.version || github.sha }}
          platforms: ${{ matrix.platform }}
          tags: ${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests${{ matrix.major_version }}
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests${{ matrix.major_version }}/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ matrix.major_version }}-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests${{ matrix.major_version }}/*
          if-no-files-found: error
          retention-days: 1

  merge_base_image:
    name: Merge base image
    needs:
      - build_base_image
    strategy:
      matrix:
        major_version: [12, 13]
        exclude:
          - major_version: ${{ startsWith(github.event.release.tag_name, 'v13') && 12 || '' }}
          - major_version: ${{ startsWith(github.event.release.tag_name, 'v12') && 13 || '' }}
    runs-on: ubuntu-latest
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests${{ matrix.major_version }}
          pattern: digests-${{ matrix.major_version }}-*
          merge-multiple: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}
          flavor: |
            latest=false
          tags: |
            type=semver,prefix=base.,pattern={{version}}
            type=semver,prefix=base.,pattern={{major}}.{{minor}}
            type=raw,prefix=base.,value=edge,enable={{is_default_branch}}
            type=raw,prefix=base.,value=latest,enable=${{ github.event_name == 'release' }}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests${{ matrix.major_version }}
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}

  build_vcdeps_images:
    name: Build vc-deps images by platform
    needs: merge_base_image
    strategy:
      fail-fast: false
      matrix:
        type: [static, dynamic]
        major_version: [12, 13]
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
        exclude:
          - major_version: ${{ startsWith(github.event.release.tag_name, 'v13') && 12 || '' }}
          - major_version: ${{ startsWith(github.event.release.tag_name, 'v12') && 13 || '' }}
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Clean up disk space
        run: |
          # Space usage before cleanup
          df -h /

          # Remove unused tool caches (comment any required ones with #)
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

          # Verify gains
          df -h /

      - name: Prepare env
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
      
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        id: build
        with:
          file: ./Dockerfile.${{ matrix.type }}
          build-args: |
            CI_DOCKER_VERSION=${{ steps.meta.outputs.version || github.sha }}
          platforms: ${{ matrix.platform }}
          tags: ${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests${{ matrix.major_version }}-${{ matrix.type }}
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests${{ matrix.major_version }}-${{ matrix.type }}/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ matrix.major_version }}-${{ matrix.type }}-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests${{ matrix.major_version }}-${{ matrix.type }}/*
          if-no-files-found: error
          retention-days: 1

  merge_vcdeps_images:
    name: Merge vc-deps images
    needs:
      - build_vcdeps_images
    strategy:
      matrix:
        type: [static, dynamic]
        major_version: [12, 13]
        exclude:
          - major_version: ${{ startsWith(github.event.release.tag_name, 'v13') && 12 || '' }}
          - major_version: ${{ startsWith(github.event.release.tag_name, 'v12') && 13 || '' }}
    runs-on: ubuntu-latest      
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests${{ matrix.major_version }}-${{ matrix.type }}
          pattern: digests-${{ matrix.major_version }}-${{ matrix.type }}-*
          merge-multiple: true
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}
          flavor: |
            latest=false
          tags: |
            type=semver,prefix={{ matrix.type }}.,pattern={{version}}
            type=semver,prefix={{ matrix.type }}.,pattern={{major}}.{{minor}}
            type=raw,prefix={{ matrix.type }}.,value=edge,enable={{is_default_branch}}
            type=raw,prefix={{ matrix.type }}.,value=latest,enable=${{ github.event_name == 'release' }}
            type=raw,value=edge,enable=${{ github.ref_name == 'main' && matrix.type == 'static' }}
            type=raw,value=latest,enable=${{ github.event_name == 'release' && matrix.type == 'static' }}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests${{ matrix.major_version }}-${{ matrix.type }}
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY }}/${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}

